# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.so
.Python
.venv/
venv/
env/
.eggs/
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Project
.env
data/
*.log
checkpoints/
spark-warehouse/
metastore_db/
*.crc

# Notebooks
.ipynb_checkpoints/
